<div class="container">
	<div class="row">

			<h3><%= @customer.fullname_kanji %>さんの会員情報編集</h3>

				<%= form_with model:@customer do |f| %>
					<table class="table">
						<tr>
							<th>会員ID</th>
							<td><%= @customer.id %></td>
						</tr>


						<tr>
							<th><%= f.label :name, "氏名"%></th>
							<td><%= f.text_field :family_name_kanji, class: "form-control"%></td>
							<td><%= f.text_field :first_name_kanji, class: "form-control"%></td>
						</tr>

						<tr>
							<th><%= f.label :name, "フリガナ"%></th>
							<td><%= f.text_field :family_name_kana, class: "form-control"%></td>
							<td><%= f.text_field :first_name_kana, class: "form-control"%></td>
						</tr>

						<tr>
							<th><%= f.label :postcode, "郵便番号"%></th>
							<td colspan="2"><%= f.text_field :postcode ,class: "form-control"%></td>
						</tr>

						<tr>
							<th><%= f.label :address, "住所"%></th>
							<td colspan="2"><%= f.text_field :address, class: "form-control"%></td>
						</tr>

						<tr>
							<th><%= f.label :tel, "電話番号"%></th>
							<td colspan="2"><%= f.text_field :tel, class: "form-control"%></td>
						</tr>
						<tr>
							<th>会員ステータス</th>
							<td>
								<%= f.radio_button :admission_status, false %>
								<%= f.label :admission_status, "有効", value: true %>
							</td>
							<td>
								<%= f.radio_button :admission_status, false %>
								<%= f.label :admission_status, "無効", value: false %>
							</td>
						</tr>

					</table>

						<%= f.submit "変更を保存する", class: "btn btn-primary" %>
				<% end %>

	</div>
</div>
