<div class="container">
	<div class="row">

			<h3><%= @customer.fullname_kanji %>さんの会員情報</h3>
			　	<table class="table">
						<tr>
							<th>会員ID</th>
							<td><%= @customer.id %><span class="bg-info admission"><%= @customer.admission_status_name+"会員"%></span></td>
						</tr>

						<tr>
							<th>氏名</th>
							<td><%= @customer.fullname_kanji%></td>
						</tr>

						<tr>
							<th>フリガナ</th>
							<td><%= @customer.fullname_kana%></td>
						</tr>
						<tr>
							<th>郵便番号</th>
							<td><%= @customer.postcode%></td>
						</tr>
						<tr>
							<th>住所</th>
							<td><%= @customer.address%></td>
						</tr>
						<tr>
							<th>電話番号</th>
							<td><%= @customer.tel%></td>
						</tr>
						<tr>
							<th>メールアドレス</th>
							<td><%= @customer.email%></td>
						</tr>
						<tr>
							<th>会員ステータス</th>
						</tr>

				</table>

				<%= link_to "編集する",edit_admin_customer_path(@customer.id), class: "btn btn-primary btn-customeredit"%>
				<%= link_to "注文履歴一覧を見る","#", class: "btn btn-primary btn-customeredit"%>
	</div>
</div>
