<div class="container">
	<div class="row">
		<h3 class="new_title">注文履歴詳細</h3>
		<div class="col-xs-8">

			<tr>
				<th>購入者</th>
				<td><%= link_to @order.customer.fullname_kanji,  admin_customer_path(@order.customer_id) %></td>
			</tr>


			<tr>
				<th>配送先</th>
				<td>        
					<%= @order.postcode %><br>
					<%= @order.address %><br>
					<%= @order.name %>
				</td>
			</tr>

		</tr>
		<th>支払い方法</th>
		<td><%= @order.payment %></td>
	</tr>
	<%= form_for @order, url: "/admin/orders/#{@order.id}" do |f| %>
	<tr>
		<th>注文ステータス</th>
		<td><%= f.select :order_status,Order.order_statuses.keys.to_a, { include_blank:'選択してください'}, { required: true} %></td>
		<td><%= f.submit "更新", class: "btn btn-primary" %></td>
	</tr>
	<% end %>

	<table class="table order_table">
		<tr>
			<th>商品名</th>
			<th>単価(税込)</th>
			<th>数量</th>
			<th>小計</th>
			<th>制作ステータス</th>
		</tr>


		<% @ordered_products.each do |ordered_product| %>
		<tr>
			<td><%= ordered_product.product.name %></td>
			<td><%= (ordered_product.product.price * 1.1).floor.to_s(:delimited) %></td>
			<td><%= ordered_product.count %></td>
			<td><%= subprice(ordered_product).to_s(:delimited) %></td>

			<%= form_for ordered_product, url: "/admin/ordered_products/#{ordered_product.id}" do |f| %>
			<td><%= f.select :production_status, {"着手不可":0,"制作待ち":1,"製作中":2,"制作完了":3}, { include_blank:'選択してください'}, { required: true} %></td>
			<td><%= f.submit "更新", class: "btn btn-primary" %></td>
		</tr>
		<% end %>
		<% end %>
	</table>


	<div class="col-xs-3">
		<table class="table billing_amount">
			<tr>
				<th>商品合計</th>
				<td><%= (@order.billing_amount - @order.postage).to_s(:delimited) %></td>
			</tr>
			<tr>
				<th>送料</th>
				<td><%= @order.postage.to_s(:delimited) %></td>
			</tr>
			<tr>
				<th>請求金額合計</th>
				<td><%= @order.billing_amount.to_s(:delimited) %></td>
			</tr>
		</table>
	</div>
</div>
</div>
</div>
</div>


