<div class="container">
	<div class="row">
		<div class="col-xs-6 genre_content">
			<h3>ジャンル編集</h3>
			<%= form_with model: @genre, local: true, url: "/admin/genres/#{@genre.id}" do |f| %>
			<%= render 'layouts/error_messages', model: f.object %>
			<%= f.label :name, "ジャンル" %>
			<%= f.text_field :name %>
			<%= f.radio_button :effectiveness, true %>
			<%= f.label :effectiveness, "有効"	, value: true %>
			<%= f.radio_button :effectiveness, false %>
			<%= f.label :effectiveness, "無効", value: false %>
			<%= f.submit "変更を保存する", class: "btn btn-primary" %>
			<% end %>
		</div>
	</div>
</div>

