<div class="my_page">
  <div class="row">
    <h3 class=my>マイページ</h3>

<strong class=>登録情報</strong>　
<%= link_to"編集する",edit_customer_path,class: "btn btn-primary" %>　
<%= link_to"パスワードを変更する",edit_customer_registration_path,class: "btn btn-primary" %><br>

<table class='table1'>
	<thead>
	<tr class="border">
		<th>氏名</th>
	    <th><%=@customer.family_name_kanji %>
	        <%=@customer.first_name_kanji %></th>
	</tr>
	<tr class="border">
		<th>カナ</th>
	    <th><%=@customer.family_name_kana  %>
	        <%=@customer.first_name_kana %></th>
	</tr>
	<tr class="border">
		<th>郵便番号</th>
		<th><%=@customer.postcode %></th>
	</tr>
	<tr class="border">
		<th>住所</th>
		<th><%=@customer.address %></th>
	</tr>
	<tr class="border">
		<th>電話番号</th>
		<th><%=@customer.tel %></th>
	</tr>
	<tr class="border">
		<th>メールアドレス</th>
		<th><%=@customer.email %></th>
	</tr>
    </thead>
</table>

<strong>配送先</strong>　　
<%= link_to"一覧を見る",deliveries_path,class: "btn btn-primary" %><br>
<br>
<strong>注文履歴</strong>　
<%= link_to"一覧を見る",orders_path,class: "btn btn-primary" %><br>

  </div>
</div>

　<!-- #showページ用 -->
  <style>
  .table1{
  	margin: 20px 0;
  }
  .border{
  	border: 1px solid black;
  }
  th{
  	padding: 15px;
  }
  <style>