<h3>マイページ</h3>

<strong>登録情報</strong>　
<%= link_to"編集する",root_path,class: "btn btn-primary" %>
<%= link_to"パスワードを変更する",root_path,class: "btn btn-primary" %><br>

<table class='table1'>
	<tr><th>氏名</th>
	    <th><%=  %></th></tr>
	<tr><th>カナ</th>
	    <th><%=  %></th></tr>
</table>

<strong>配送先</strong>　
<%= link_to"一覧を見る",root_path,class: "btn btn-primary" %><br>

<strong>注文履歴</strong>　
<%= link_to"一覧を見る",root_path,class: "btn btn-primary" %><br>