<div class="container">
	<div class="row">
		<h3 class="order_confirm_title">注文情報確認</h3>
		<div class="col-xs-9">	
			<table class="table" border="1" style="border-collapse: collapse">
				<tr>
					<th>商品名<br>　</th>
					<th>単価（税込）</th>
					<th>数量</th>
					<th>小計</th>
				</tr>
				<% @cart_items.each do |cart| %>
				<tr>
					<td>
						<%= attachment_image_tag cart.product, :image, :fill, 50, 100, fallback: "no_image.png", size: "100x50" %>
						<%= cart.product.name %>
					</td>
					<td><%= tax_included(cart.product.price) %></td>
					<td><%= cart.count %></td>
					<td><%= subprice(cart) %></td>
				</tr>
			<% end %>
			</table>
		</div>
			<div class="col-xs-3">
				<table class="table" border="1" style="border-collapse: collapse;">
					<tr>
						<th>送料</th>
						<td><%= @order.postage %></td>
					</tr>
						<th>商品合計</th>
						<td><%= total_price(current_cart) %></td>
					<tr>
						<th>請求金額</th>
						<td><%= billing(@order) %></td>
					</tr>
				</table>
			</div>
				<div class="col-xs-9">
					<table class="table order_table">
				<tr>	
					<th>支払い方法<br>　</th>
					<td><%= @order.payment %></td>
				</tr>
				<tr>
					<th class="order_address">お届け先</th>
					<td>
						<%= @order.postcode + @order.address %><br>
						<%= @order.name %>
					</td>
				</tr>
			</table>
				</div>
				<div class ="col-xs-12">
      <%= form_with model: @order, url: "/orders", method: :post, local: true do |f| %>
        <%= f.hidden_field :name %>
        <%= f.hidden_field :postcode %>
        <%= f.hidden_field :address %>
        <%= f.hidden_field :payment %>
        <%= f.hidden_field :postage, value: @order.postage %>
        <%= f.hidden_field :billing_amount, value: billing(@order) %>
        <%= f.submit "購入を確定する", class: "btn btn-success btn-lg btn_order_true" %>
      <% end %>
      </div>
    <% else %>
			</div>
		</div>
	</div>
</div>